footer.footer
  nav.text-center
    h5.green-text Footer links
    ul 
      li 
        a(href="/") Home
      li 
        a(href="#") About
      li 
        a(href="#") Contact
  .social-networks.text-center.mt-1
    h5.green-text Social networks
    
    a(href="https://github.com/PedroFumero" target="_blank" rel="nofollow")
      img(src="/img/feather/github.svg", alt="")
    a(href="https://twitter.com/PedroFumero" target="_blank" rel="nofollow") 
      img(src="/img/feather/twitter.svg", alt="")
    a(href="https://www.linkedin.com/in/pedrofumero/" target="_blank" rel="nofollow") 
      img(src="/img/feather/linkedin.svg", alt="")

  p.text-center.footer-text.mt-1 2020 - Design & Development by
    span.green-text.bold  Pedro Fumero