footer.footer
  nav.text-center
  .social-networks.text-center.mt-1
    h5.green-text Social networks

    a(href='https://github.com/PedroFumero', target='_blank', rel='nofollow')
      img(src='/img/feather/github.svg', alt='')
    a(href='https://twitter.com/PedroFumero', target='_blank', rel='nofollow') 
      img(src='/img/feather/twitter.svg', alt='')
    a(
      href='https://www.linkedin.com/in/pedrofumero/',
      target='_blank',
      rel='nofollow'
    ) 
      img(src='/img/feather/linkedin.svg', alt='')

  p.text-center.footer-text.mt-1 2022 - Design & Development by #[span.green-text.bold Pedro Fumero]
