ul#menu.invisible 
  li
    a(href="/categories") Categories
  li
    a(href="/about") About
  li
    a(href="/contact") Contact
  if user
    span.separator-auth.white-text.mr-1 |
    li
      a(href="/admin") Admin panel
    li
      a(href="/edit-profile") Edit profile
    li
      a(href="/logout") Log out
  
    
