doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include ../partials/styles.partials.pug
    link(rel="stylesheet", href="/css/trix.css")
    link(rel="stylesheet", href="/css/admin-styles.css")
    script(src="/js/trix.js") 
    title #{title}
  body 
    .container
      nav.navigation
        .logo-menu-container
          a.logo-style(href="/") Recipify

        i.menu-btn.mobile.fa-solid.fa-bars
        
        include ../partials/menu.partials.pug
      
      block content
        
      include ../partials/footer.partials.pug

    script(src="/js/basic-app.js") 
    
          
