doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/styles.css')

    include ../partials/styles.partials.pug
    title #{ title }
  body 
    .container
      nav.navigation
        //- Mobile menu
        .logo-menu-container
          a.logo-style(href='/') Recipify
          //- img.menu-btn.mobile(src="/img/feather/menu.svg", alt="")
          i.menu-btn.mobile.fa-solid.fa-bars
          .auth-pc-container
            if authenticated
              a.btn.green-btn.mt-1.mb-1.mobile.mr-1(href='/recipes/new') Create recipe
              //- a.btn.green-btn.mt-1.mb-1.mobile(href='/register') Register
            else
              a.btn.green-btn.mt-1.mb-1.mobile.mr-1(href='/login') Login
              a.btn.green-btn.mt-1.mb-1.mobile(href='/register') Register

        include ../partials/menu.partials.pug

        .auth-mobile-container.mt-2.mb-1
          if authenticated
              a.btn.green-btn.mt-1.mb-1.mobile.mr-1(href='/recipes/new') Create recipe
              //- a.btn.green-btn.mt-1.mb-1.mobile(href='/register') Register
          else
            a.btn.green-btn.mt-1.mb-1.mobile.mr-1(href='/login') Login
            a.btn.green-btn.mt-1.mb-1.mobile(href='/register') Register

        if searchBar
          form#search-form.mt-1.mb-1(action='/search') 
            .search-box-container
              input(type='search', name='term', placeholder='Search recipe...')
              input.search-btn.green-btn(type='submit', value='Search')

      block content

      include ../partials/footer.partials.pug

    script(src='/js/basic-app.js') 
    block scripts
