doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styles.css")
    title Something went wrong
  body.bg-white
    .container
      .container-404.mt-1
        .image-container
          img(src="/img/something-wrong.png", alt="Something went wrong image")
        .text-container   
          h2.text-uppercase.text-404.mb-1.text-center  Something went wrong
          .footer-text.mt-1.text-center
            a.bold.brown-text(href="/") Go home