extends layouts/admin.layout.pug

block content
  .container-admin.mt-1
    h2.mt-1.mb-1.green-text Admin panel
    .actions-container
      .row 
        .title-actions.mb-1.green-text.bold Title
        .icon-actions.text-center.mb-1.green-text.bold Show
        .icon-actions.text-center.mb-1.green-text.bold Edit
        .icon-actions.text-center.mb-1.green-text.bold Delete

      if recipes.length
        each recipe in recipes
          .row.separator
            .title-actions #{recipe.title}
            .icon-actions.text-center
              a.blue-text(href=`/recipes/${recipe.id}`) 
                i.fa-solid.fa-eye
            .icon-actions.text-center
              a.brown-text(href=`/recipes/${recipe.id}/edit`) 
                i.fa-solid.fa-pen
            .icon-actions.text-center 
              a.red-text(href="") 
                i.fa-solid.fa-trash

   
