doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    include partials/styles.partials.pug
    title #{ title }
  body 
    .container-box 
      .register-login-container
        form.register-form(action='/forgot-password' method="POST") 
          //- Flash messages
          include partials/flash-messages.partials.pug
          //- Flash messages
          .text-center.mb-1
            a.logo-style.white-text(href='/') Recipify

          div.text-center.mb-1
            h4 Enter your email to send a reset link
          
            input#email.mt-1(type='email', placeholder='Email' name="email" required)

          .text-center
            input.btn.green-btn(type='submit', value='Send link')

          .separator

          .mt-1.final-links
            a.white-text.bold-text(href='/') Home
