extends layouts/main.layout.pug

block content
  .search-banner
    .form-search-container
      h3.common-h3-title.mb-1 What are you looking for?
      form#search-form(action='#') 
        .search-box-container
          input(type='search', name='term', placeholder='Search recipe...')
          input.search-btn.green-btn(type='submit', value='Search')

  main.latest-shared-container
    h3.common-h3-title.mt-1.mb-1.text-center Latest recipes shared

    .recipes-container
      if recipes.length
        each recipe in recipes
          article.recipe
            a(href=`/recipes/${recipe.id}`) 
              img(
                src=`/uploads/thumbnails/${recipe.thumbnail}`,
                alt=recipe.title
              )
              h4.recipe-title #{ recipe.title }
            .article-footer.grey-text
              .category-icon
                i.fa-solid.fa-user
                span Peter
              .category-icon
                i.fa-solid.fa-tag
                span Pizza
      else
        p There's nothing to show
