doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    include partials/styles.partials.pug
    title #{ title }
  body 
    .container-box 
      .register-login-container
        form.register-form(action='/login' method="POST") 
          //- Flash messages
          include partials/flash-messages.partials.pug
          //- Flash messages
          .text-center.mb-1
            a.logo-style.white-text(href='/') Recipify

          .form-group.mb-1
            label(for='email') Email:
            input#email(type='email', placeholder='Email' name="email" required)

          .form-group.mb-1
            label(for='password') Password:
            input#password(type='password', placeholder='Password' name="password" required)

          .text-center
            input.btn.green-btn.mt-1(type='submit', value='Login')

          .separator

          .mt-1.final-links
            a.white-text.bold-text(href='/register') Register
            a.white-text.bold-text(href='/forgot-password') Forgot password?
