doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    include partials/styles.partials.pug
    title #{ title }
  body 
    .container-box 
      .register-login-container
        form.register-form(action='/register', method='POST') 
          //- Flash messages
          include partials/flash-messages.partials.pug
          //- Flash messages

          .text-center.mb-1
            a.logo-style.white-text(href='/') Recipify
          .form-group.mb-1
            label(for='firstName') First name:
            input#firstName(type='text', name='firstName', value=firstName)

          .form-group.mb-1
            label(for='lastName') Last name:
            input#lastName(type='text', name='lastName', value=lastName)

          .form-group.mb-1
            label(for='email') Email:
            input#email(type='email', name='email', value=email)

          .form-group.mb-1
            label(for='password') Password:
            input#password(type='password', name='password')

          .form-group.mb-1
            label(for='password2') Confirm password:
            input#password2(type='password', name='password2')

          .text-center
            input.btn.green-btn.mt-1(type='submit', value='Register')

          .separator

          .mt-1.final-links
            a.white-text.bold-text(href='/login') Login
            a.white-text.bold-text(href='/') Return home
