extends ../layouts/admin.layout.pug

block content
  .container-admin.mt-1
    h2.mt-1.mb-1.green-text Create a new recipe
    .form-container
      form()
        .input.separator
          label(for="") Title: 
          input.input-create-recipe#input-title(type="text" placeholder="Title")

        h4.mt-1.green-text Recipe details
        .input.mt-1
          label(for="") Minutes: 
          input.input-create-recipe.measure(type="number" placeholder="45" min="1")
        .input.mt-1
          label(for="") Servings: 
          input.input-create-recipe.measure(type="number" placeholder="4" min="1")
        .input.mt-1.mb-1
          label(for="") Ingredients: 
          input.input-create-recipe.measure(type="number" placeholder="11" min="1")

        h4.mt-1.green-text.mb-1 Ingredients list
        input#y(type='hidden' name='ingredientsList')
        trix-editor#ingredients(input='y')

        h4.mt-1.green-text.mb-1 Instructions
        input#x(type='hidden' name='instructions')
        trix-editor(input='x')
        .text-center
          input.btn.green-btn.mt-1(type="submit", value="Create recipe")
